#  series

https://www.udemy.com/course/python-jp/learn/lecture/3829922#content

In [70]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [71]:
obj = Series([3,6,9,12])
print('obj : ')
print(obj)
print('obj.values : ' , obj.values)
print('obj.index : ', obj.index)

obj :
0     3
1     6
2     9
3    12
dtype: int64
obj.values :  [ 3  6  9 12]
obj.index :  RangeIndex(start=0, stop=4, step=1)

In [72]:
ww2_cos = Series([8700000,4300000,3000000,2100000,400000], index=['USSR','Germany','China','Japan','USA'])

In [73]:
ww2_cos

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [74]:
 ww2_cos['USA']

400000

In [75]:
ww2_cos[ww2_cos>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [76]:
ww2_cos>4000000

USSR        True
Germany     True
China      False
Japan      False
USA        False
dtype: bool

In [77]:
'USSR' in ww2_cos

True

In [78]:
ww2_dict = ww2_cos.to_dict()

In [79]:
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [80]:
ww2_Series = Series(ww2_dict )

In [81]:
ww2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [82]:
countries = ['Germany','China','Japan','USA','USSR','Agentina']

In [83]:
obj2 = Series(ww2_dict, index = countries)

In [84]:
obj2

Germany     4300000.0
China       3000000.0
Japan       2100000.0
USA          400000.0
USSR        8700000.0
Agentina          NaN
dtype: float64

In [85]:
pd.isnull(obj2)

Germany     False
China       False
Japan       False
USA         False
USSR        False
Agentina     True
dtype: bool

In [86]:
pd.notnull(obj2)

Germany      True
China        True
Japan        True
USA          True
USSR         True
Agentina    False
dtype: bool

In [87]:
ww2_Series + obj2

Agentina           NaN
China        6000000.0
Germany      8600000.0
Japan        4200000.0
USA           800000.0
USSR        17400000.0
dtype: float64

In [88]:
obj2.name = '第二次世界大戦の死傷者'

In [89]:
obj2

Germany     4300000.0
China       3000000.0
Japan       2100000.0
USA          400000.0
USSR        8700000.0
Agentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64

In [90]:
obj2.index.name='Countries'

In [91]:
obj2

Countries
Germany     4300000.0
China       3000000.0
Japan       2100000.0
USA          400000.0
USSR        8700000.0
Agentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64

# DataFrames

https://www.udemy.com/course/python-jp/learn/lecture/3829924#content

In [92]:
nfl_frame = pd.read_csv('nfl_win_loss_record.csv').head(6)
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East

In [93]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [94]:
nfl_frame['First NFL Season']

0    1960
1    1921
2    1960
3    1920
4    1996
5    1966
Name: First NFL Season, dtype: int64

In [95]:
nfl_frame.Team

0          Dallas Cowboys
1       Green Bay Packers
2    New England Patriots
3           Chicago Bears
4        Baltimore Ravens
5          Miami Dolphins
Name: Team, dtype: object

In [96]:
nfl_frame[['Team','First NFL Season']]

                   Team  First NFL Season
0        Dallas Cowboys              1960
1     Green Bay Packers              1921
2  New England Patriots              1960
3         Chicago Bears              1920
4      Baltimore Ravens              1996
5        Miami Dolphins              1966

In [97]:
nfl_frame_copy = DataFrame(nfl_frame, columns=['Team','First NFL Season'])
nfl_frame_copy

                   Team  First NFL Season
0        Dallas Cowboys              1960
1     Green Bay Packers              1921
2  New England Patriots              1960
3         Chicago Bears              1920
4      Baltimore Ravens              1996
5        Miami Dolphins              1966

In [98]:
DataFrame(nfl_frame, columns=['Team','First NFL Season','Stadium'])

                   Team  First NFL Season  Stadium
0        Dallas Cowboys              1960      NaN
1     Green Bay Packers              1921      NaN
2  New England Patriots              1960      NaN
3         Chicago Bears              1920      NaN
4      Baltimore Ravens              1996      NaN
5        Miami Dolphins              1966      NaN

In [99]:
nfl_frame.head()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North

In [100]:
nfl_frame.head(3)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East

In [101]:
nfl_frame.tail()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East

In [102]:
nfl_frame.iloc[2:3]

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East

In [103]:
nfl_frame.iloc[2]

Rank                                   3
Team                New England Patriots
GP                                   916
Won                                  512
Lost                                 395
Tied                                   9
Pct.                               0.564
First NFL Season                    1960
Division                        AFC East
Name: 2, dtype: object

In [104]:
nfl_frame['Stadium'] = "Levi's Stadium"
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,Levi's Stadium
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,Levi's Stadium
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,Levi's Stadium
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,Levi's Stadium
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,Levi's Stadium
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,Levi's Stadium

In [105]:
nfl_frame['Stadium'] = np.arange(6)
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,0
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,1
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,2
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,3
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,4
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,5

In [108]:
stadiums = Series(["Levi's stadium", 'AT&T Studium'], index=[4,0])
stadiums

4    Levi's stadium
0      AT&T Studium
dtype: object

In [110]:
nfl_frame['stadium'] = stadiums
nfl

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium,stadium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,0,AT&T Studium
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,1,NaN
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,2,NaN
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,3,NaN
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,4,Levi's stadium
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,5,NaN

In [111]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium,stadium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,0,AT&T Studium
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,1,NaN
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,2,NaN
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,3,NaN
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,4,Levi's stadium
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,5,NaN

# Index objects

# Reindex

# Drop Entry

# Selecting Entries

# Data Alignment

# Rank and Sort

# Summary Statistics

In [113]:
import pandas.io.data as pdweb
import datetime
prices = pdweb.get_data_yahoo(['CVX','XOM','BP'], start=datatime.datatime(2010,1,1), end=datatime.datatime(2013,1,1))['Adj Close']
prices

ModuleNotFoundError: No module named 'pandas.io.data'

# Missing Data

# Index Hierarchy