# section 06 working with data part2

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

### Merge

In [2]:
dframe1 = DataFrame({'key':['X','Z','Y','Z','X','X'], 'data_set_1':np.arange(6)})
dframe1

  key  data_set_1
0   X           0
1   Z           1
2   Y           2
3   Z           3
4   X           4
5   X           5

In [3]:
dframe2 = DataFrame({'key':['Q','Y','Z'],'data_set_2':[1,2,3]})
dframe2

  key  data_set_2
0   Q           1
1   Y           2
2   Z           3

In [4]:
pd.merge(dframe1, dframe2)

  key  data_set_1  data_set_2
0   Z           1           3
1   Z           3           3
2   Y           2           2

In [5]:
pd.merge(dframe1, dframe2, on='key')

  key  data_set_1  data_set_2
0   Z           1           3
1   Z           3           3
2   Y           2           2

In [6]:
pd.merge(dframe1, dframe2, on='key', how='left')

  key  data_set_1  data_set_2
0   X           0         NaN
1   Z           1         3.0
2   Y           2         2.0
3   Z           3         3.0
4   X           4         NaN
5   X           5         NaN

In [7]:
pd.merge(dframe1, dframe2, on='key', how='right')

  key  data_set_1  data_set_2
0   Z         1.0           3
1   Z         3.0           3
2   Y         2.0           2
3   Q         NaN           1

### Merge on Index

### Concatenate

### Combining DataFrames

### Reshaping

### Pivoting

### Duplicates in DataFrames

### Mapping

### Replace

### Rename Index

### Binning

### Outliers

### Permutation